/* Spots */left

.spot {
  position: fixed;
  top: 0;
  bottom: 0;

  width: 1vw;

  background-color: var(--orange-light-color);
}

.spot.left {
  left: 0;
}
.spot.right {
  right: 0;
}

/* Navbar */

header {


  height: var(--navbar-height);
  padding: 0 calc(var(--col-gap) * 2);

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: transparent;
  border-bottom: 1px solid #ddd;

  z-index: 998;
  transition: 1s;
}
.header{
  position: fixed;
  top: -80px;
  right: 0;
  left: 0;
  transition: 1s;
}
.muded{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: 1s;
  background-color: #fff;
}
.muded>div>img.logo{

}

header nav {
  display: flex;
  gap: 1rem;
}

.headsoon{
  display: flex;
  gap: 5px;
}
.headsoon>p{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: -1px;
}